
.root {
    -fx-font-size: 14pt;
    -fx-font-family: "JetBrains Mono";
}

.scroll-pane {
    -fx-background-color: transparent;
}

.box-for-buttons > .label {
    -fx-padding: 0 5 0 0;
}

#urlInput.valid {
    -fx-text-fill: green;
}

#urlInput.invalid {
    -fx-text-fill: red;
}